<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AnalizadorDeReportes.Properties.Settings.CurrentDatabaseConnection"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\BaseDatos_Filtro_Yadian_2021_06_30_8_21_45PM.mdb"
            providerName="System.Data.OleDb" />
        <add name="AnalizadorDeReportes.Properties.Settings.CurrenDBConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ALMACEN\GIN_OS\DEVELOP\VisualStudio\Proyectos\AnalizadorDeReportes\BaseDatos_Filtro_Yadian_2021_06_30_8_21_45PM.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>